fastapi>=0.110.0
uvicorn>=0.28.0
pyswisseph>=2.10.0.post1
timezonefinder>=6.2.9
requests>=2.31.0
openai>=1.14.0
pydantic>=2.6.4
pydantic-settings>=2.2.1
sentence-transformers>=2.5.1
pytz>=2024.1
numpy>=1.26.4
pandas>=2.2.1
